body {
  font-family: Arial, sans-serif;
}

.mode button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  background-color:rgb(209, 243, 198);
  border-radius: 50%;
  cursor: pointer;
}


.tab-container {
  overflow: hidden;
  text-align: left;

}

.tab{
  padding: 10px 20px;
  cursor: pointer;
  border:#e6e6e6;
  outline: none;
  background-color:rgb(209, 243, 198);
  transition: background-color 0.3s ease;
}


.tab-content {
  padding: 20px;
  display: none;
} 

.mode {
  position: absolute;
  left: 95%;
  right:5%;
}

h1{
  text-align: center;
}

#tab1 img {
  height:300px;
  width:550px;
  position: absolute;
  right: 50%;
  left: 50%;
}

#tab1 p{
  white-space: pre;
}


#tab2 img {
  height:500px;
  width: 500px;
  position: absolute;
  right: 50%;
  left: 50%;
}


#tab2 p{
white-space: pre;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

  .dark{
    background-color: #222;
    color: #e6e6e6;
}